{{define "paper"}}

<div class="flex px-4 py-10 sm:px-6 lg:px-10">
  <div class="card bg-base-100 shadow-sm">
    <div class="card-body">
      <h2 class="card-title">List of all papers</h2>
      <input
        class="form-control"
        type="search"
        name="search"
        placeholder="Search Papers..."
        hx-post="/app/papers/search"
        hx-trigger="input changed delay:500ms, keyup[key=='Enter'], load"
        hx-target="#search-results"
        hx-indicator=".htmx-indicator"
      />
      <div id="search-results">Is loading</div>
    </div>
  </div>
</div>

{{end}}
