{{ define "papers/page" }}

<header class="col-span-12 flex flex-col gap-4 lg:flex-row lg:items-end">
  <div class="grow">
    <div class="breadcrumbs text-xl">
      <ul>
        <li>Papers</li>
      </ul>
    </div>
  </div>
</header>

<section class="card bg-base-200 col-span-12 shadow-xs">
  <div class="card-body pb-0">
    <div class="flex flex-col gap-2">
      <div class="grow">
        <h2 class="card-title">
          List of papers
          <span class="htmx-indicator loading loading-spinner loading-sm"></span>
        </h2>
        <p class="text-base-content/60">Search for papers that are provided as public by users.</p>
      </div>
    </div>
  </div>
  <div class="card-body gap-4">
    <form hx-target:inherited="#search-results" hx-indicator:inherited=".htmx-indicator">
      <div class="flex flex-col gap-3 lg:flex-row">
        <label class="input input-sm w-full">
          <svg data-src="https://unpkg.com/heroicons/20/solid/magnifying-glass.svg" class="h-4 w-4 opacity-50"></svg>
          <input
            type="search"
            name="search"
            placeholder="exploratory..."
            hx-post="/app/papers/search"
            hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
            hx-target="#search-results"
            hx-vals='{"page": 1}'
          />
        </label>
        <select
          aria-label="Select sort option"
          class="select select-sm w-full lg:max-w-sm"
          name="sortBy"
          hx-post="/app/papers/search"
          hx-trigger="change"
          hx-target="#search-results"
          hx-vals='{"page": 1}'
        >
          <option value="+title">Title (A-Z)</option>
          <option value="-title">Title (Z-A)</option>
          <option value="+year">Oldest</option>
          <option value="-year" selected>Sort: Newest</option>
        </select>
      </div>
    </form>
    <div class="overflow-x-auto">
      <div id="search-results"></div>
    </div>
  </div>
</section>

{{ end }}
