{{define "paper"}}

<div class="flex px-4 py-10 sm:px-6 lg:px-10">
  <div class="card bg-base-100 shadow-sm">
    <div class="card-body">
      <h2 class="card-title">List of papers</h2>
      <form hx-target="#search-results">
        <div class="card-body">
          <input
            class="input input-bordered w-full"
            type="search"
            name="search"
            placeholder="Search Papers..."
            hx-post="/app/papers/search"
            hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
            hx-indicator="#loading"
          />

          <label class="select select-bordered w-full">
            <select name="sortBy" hx-post="/app/papers/search" hx-trigger="change" hx-indicator="#loading">
              <option value="" disabled selected>Select sorting option</option>
              <option value="+title">Title (A-Z)</option>
              <option value="-title">Title (Z-A)</option>
              <option value="+year">Oldest</option>
              <option value="-year">Newest</option>
            </select>
          </label>

          <div id="loading" class="htmx-indicator">
            <span class="loading loading-spinner loading-sm"></span>
            <span class="text-xs">Loading...</span>
          </div>
        </div>
      </form>

      <div id="search-results"></div>
    </div>
  </div>
</div>

{{end}}
