{{define "search"}}
<div class="flex px-4 py-10 sm:px-6 lg:px-10 flex-col gap-4">
  <form
    hx-get="/app/search"
    hx-target="#results"
    hx-push-url="true"
    hx-trigger="input changed delay:300ms, keyup[key=='Enter']"
    class="max-w-md"
  >
    <input
      type="text"
      name="title"
      placeholder="Search..."
      value="{{.SearchTitle}}"
      class="input input-bordered w-full"
    />
  </form>

  <div id="results">
    {{if .HasSearch}}
      {{template "papers/partials/papers-table" .Papers}}
    {{end}}
  </div>
</div>
{{end}}
