{{ define "stacks/my" }}
<header class="col-span-12 flex flex-col gap-4 lg:flex-row lg:items-end">
  <div class="grow">
    <div class="breadcrumbs text-xl">
      <ul>
        <li>My Stacks</li>
      </ul>
    </div>
  </div>
  <div class="flex flex-wrap gap-2">
    <button class="btn btn-sm btn-primary" onClick="alert('Not implemented yet!')">
      <svg data-src="https://unpkg.com/heroicons/20/solid/plus.svg" class="size-4"></svg>
      Create stack
    </button>
    <button class="btn btn-sm btn-disabled">
      <svg data-src="https://unpkg.com/heroicons/20/solid/arrow-up-tray.svg" class="size-4"></svg>
      Export
    </button>
  </div>
</header>

<!-- stats -->
<section class="stats stats-vertical bg-base-200 xl:stats-horizontal col-span-6 shadow-xs">
  <div class="stat">
    <div class="stat-figure">
      <svg data-src="https://unpkg.com/heroicons/20/solid/rectangle-stack.svg" class="size-7 opacity-40"></svg>
    </div>
    <div class="stat-title">Stacks</div>
    <div class="stat-value text-xl font-semibold tabular-nums">{{ .StacksCountTotal }} (todo)</div>
    <div class="stat-desc">{{ .StacksCountPublic }} public</div>
  </div>

  <div class="stat">
    <div class="stat-figure">
      <svg data-src="https://unpkg.com/heroicons/20/solid/document.svg" class="size-7 opacity-40"></svg>
    </div>
    <div class="stat-title">Papers</div>
    <div class="stat-value text-xl font-semibold tabular-nums">3,842 (todo)</div>
    <div class="stat-desc">Across all stacks</div>
  </div>
</section>

<section class="card bg-base-200 col-span-12 shadow-xs">
  <div class="card-body pb-0">
    <div class="flex flex-col gap-2">
      <div class="grow">
        <h2 class="card-title">
          Overview
          <span class="htmx-indicator loading loading-spinner loading-sm"></span>
        </h2>
        <p class="text-base-content/60">Search your stacks.</p>
      </div>
    </div>
  </div>
  <div class="card-body gap-4">
    <form id="stack_search_form" hx-post="/app/stacks/my/search" hx-trigger="load" hx-target="#stack-results">
      <div class="flex flex-col gap-3 lg:flex-row">
        <label class="input input-bordered flex items-center gap-2 w-full">
          <svg data-src="https://unpkg.com/heroicons/20/solid/magnifying-glass.svg" class="h-4 w-4 opacity-50"></svg>

          <input
            type="search"
            name="search"
            placeholder="methodology..."
            hx-post="/app/stacks/my/search"
            hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
            hx-target="#stack-results"
            hx-vals='{"page": 1}'
          />
        </label>

        <select
          class="select select-bordered block w-40"
          name="sortBy"
          hx-post="/app/stacks/my/search"
          hx-trigger="change"
          hx-target="#stack-results"
          hx-vals='{"page": 1}'
        >
          <option value="+name">Name (A-Z)</option>
          <option value="-name">Name (Z-A)</option>
          <option value="+updated_at">Oldest</option>
          <option value="-updated_at" selected>Newest</option>
        </select>
      </div>
    </form>

    <div class="overflow-x-auto">
      <div id="stack-results"></div>
    </div>
  </div>
</section>
{{ end }}
