{{define "stack"}}

<div class="flex px-4 py-10 sm:px-6 lg:px-10 flex-col gap-4">
  <h1 class="text-2xl font-bold">Stack page</h1>

  {{template "shared/partials/not-implemented-alert"}} {{ if .Session }}

  <div class="card bg-base-100 shadow-sm border border-base-300">
    <div class="card-body">
      <h2 class="card-title">Active Session</h2>

      <div class="flex flex-col gap-2">
        <div>
          <span class="font-semibold">External ID:</span>
          <code>{{ .Session.UserID }}</code>
        </div>

        <div>
          <span class="font-semibold">Email:</span>
          <code>{{ .Session.Email }}</code>
        </div>

        <div>
          <span class="font-semibold">Valid:</span>
          <code>{{ .Session.IsValid }}</code>
        </div>
      </div>
    </div>
  </div>
  {{ else }}
  <div class="alert alert-warning">
    <span>No active session found.</span>
  </div>
  {{ end }}
</div>

{{end}}
