{{ define "stacks/page" }}

<div class="flex justify-center px-4 py-10 sm:px-6 lg:px-10">
  <div class="card bg-base-100 shadow-sm w-full">
    <div class="card-body w-full">
      <h2 class="card-title">
        Public stacks
        <div class="badge badge-neutral badge-outline">
          <span>{{ .PublicStackCount }}</span>
          availabe
        </div>
        <span class="htmx-indicator loading loading-spinner loading-sm"></span>
      </h2>

      <div hx-indicator=".htmx-indicator">
        <div class="card w-full">
          <div class="flex flex-row gap-4">
            <form id="stack_search_form" class="flex grow flex-row gap-4" hx-target="#stack-results">
              <label class="input input-bordered flex items-center gap-2 w-full">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5 opacity-50"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m21 21-4.35-4.35m1.6-5.65a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"
                  />
                </svg>

                <input
                  type="search"
                  name="search"
                  placeholder="Search Stacks..."
                  hx-post="/app/stacks/search"
                  hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
                  hx-target="#stack-results"
                  hx-vals='{"page": 1}'
                />
              </label>

              <select
                class="select select-bordered block w-40"
                name="sortBy"
                hx-post="/app/stacks/search"
                hx-trigger="change"
                hx-target="#stack-results"
                hx-vals='{"page": 1}'
              >
                <option value="+name">Name (A-Z)</option>
                <option value="-name">Name (Z-A)</option>
                <option value="+updated_at">Oldest</option>
                <option value="-updated_at" selected>Newest</option>
              </select>
            </form>

            <button
              id="refresh_stacks_button"
              type="button"
              class="hidden"
              hx-post="/app/stacks/search"
              hx-target="#stack-results"
              hx-include="#stack_search_form"
              hx-vals='{"page": 1}'
            ></button>

            {{ if .Session.IsValid }}
            <button
              type="button"
              class="btn btn-neutral"
              onclick="
                create_stack_modal.showModal()
                document.getElementById('create_stack_form').reset()
                document.getElementById('create_stack_error').innerHTML = ''
                document.getElementById('create_stack_submit').disabled = true
              "
            >
              <span>Create stack</span>
            </button>

            <dialog id="create_stack_modal" class="modal">
              <div class="modal-box">
                <div class="card">
                  <div class="card-body">
                    <h2 class="card-title">Create Stack</h2>

                    <form
                      id="create_stack_form"
                      hx-post="/app/stacks/create"
                      hx-target="#create_stack_error"
                      hx-swap="innerHTML"
                      hx-on::before-request="document.getElementById('create_stack_error').innerHTML = ''"
                      hx-on::before-swap="if (!event.detail.successful) event.detail.shouldSwap = true"
                      hx-on::after-request="
                        if (event.detail.successful) {
                          create_stack_modal.close();
                          document.getElementById('refresh_stacks_button').click();
                        }
                      "
                    >
                      <fieldset class="fieldset">
                        <legend class="fieldset-legend">Stack name</legend>
                        <input
                          class="input validator w-full"
                          required
                          minlength="1"
                          type="text"
                          name="name"
                          placeholder="My Stack"
                          oninput="document.getElementById('create_stack_submit').disabled = this.value.trim() === ''"
                        />
                        <p class="validator-hint hidden">Required</p>
                      </fieldset>
                      <fieldset class="fieldset">
                        <legend class="fieldset-legend">Stack settings</legend>
                        <label class="label">
                          <input type="checkbox" class="toggle toggle-success" name="is_public" checked="checked" />
                          Make stack public (visible to everyone)
                        </label>
                      </fieldset>
                      <div class="card-actions justify-end modal-action">
                        <button id="create_stack_submit" type="submit" class="btn btn-primary" disabled>Create</button>

                        <button type="button" class="btn" onclick="create_stack_modal.close()">Close</button>
                      </div>
                      <div id="create_stack_error" class="mt-2"></div>
                    </form>
                  </div>
                </div>
              </div>

              <form method="dialog" class="modal-backdrop">
                <button>close</button>
              </form>
            </dialog>
            <div id="create_stack_success"></div>
            {{ else }}
            <button
              type="button"
              hx-get="/app/auth"
              hx-target="#app-shell"
              hx-select="#app-shell"
              hx-swap="outerHTML"
              hx-push-url="true"
              class="btn btn-soft"
            >
              <span>Create stack</span>
            </button>
            {{ end }}
          </div>
        </div>
      </div>

      <div id="stack-results"></div>
    </div>
  </div>
</div>

{{ end }}
