{{define "base"}}
<!doctype html>
<html data-theme="emerald" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{.Title}} · Paperstacks</title>
    <!-- CSS for production -->
    <!-- <link rel="stylesheet" href="/app/assets/styles.css" /> -->
    <!-- CSS for development -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />

    <script src="/app/assets/htmx.min.js" defer></script>
    <script type="module">
      import { register } from "https://esm.run/@teamhanko/hanko-elements"
      window.hanko = register("{{.HankoAPIURL}}")
    </script>
  </head>
  <body class="bg-base-200">
    {{template "app" .}}
  </body>
</html>
{{end}}

<!-- App -->
{{define "app"}}
<div id="{{.AppTargetID}}" class="drawer min-h-screen lg:drawer-open">
  <input id="app-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col items-center justify-center">
    <!-- Navbar -->
    <nav class="navbar bg-base-300 w-full lg:hidden">
      <label for="app-drawer" class="btn drawer-button" aria-controls="app-drawer" aria-label="Open sidebar">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="inline-block h-5 w-5 stroke-current"
        >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </label>

      <div class="px-4">
        <span class="text-sm font-semibold uppercase tracking-[0.2em] opacity-70">Paperstacks.io</span>
      </div>
    </nav>
    <!-- Page content here -->
    {{template "page-content" .}}
  </div>

  <!-- Sidebar -->
  <div class="drawer-side flex flex-col flex-1 bg-base-300">
    <label for="app-drawer" aria-label="close sidebar" class="drawer-overlay"></label>

    <div class="flex p-4">
      <span class="text-sm font-semibold uppercase tracking-[0.2em] opacity-70">Paperstacks.io</span>
    </div>
    <ul class="menu border-b border-base-300 w-64 p-4">
      {{range .NavItems}}
      <li>
        <a
          href="{{.Path}}"
          hx-get="{{.Path}}"
          hx-target="#{{$.AppTargetID}}"
          hx-select="#{{$.AppTargetID}}"
          hx-swap="outerHTML"
          hx-push-url="true"
          class="{{if .Active}}menu-active{{end}}"
          >{{.Label}}</a
        >
      </li>
      {{end}}
      <div class="divider"></div>
    </ul>
    <div class="flex flex-1"></div>
    <div id="sidebar-footer" class="flex flex-col p-4 w-full">
      {{if .Session.IsValid }}
      <p class="text-sm text-center">{{.Session.Email}}</p>
      <button class="btn btn-sm btn-neutral" hx-post="/app/auth/logout">Logout</button>
      {{else}}
      <button
        href="/app/auth"
        hx-get="/app/auth"
        hx-target="#{{$.AppTargetID}}"
        hx-select="#{{$.AppTargetID}}"
        hx-swap="outerHTML"
        hx-push-url="true"
        class="btn btn-sm btn-neutral"
      >
        Login
      </button>
      {{end}}
      <div class="divider"></div>
      <p class="text-sm text-secondary">{{ .AppVersion}} {{ .AppGitHash }}</p>
      <p class="text-sm text-secondary">{{ .AppBuildTime}}</p>
    </div>
  </div>
</div>
{{end}}

<!-- The content of each page -->
{{define "page-content"}}
<div id="{{.PageContentID}}" class="flex min-h-0 min-w-0 w-full flex-1 flex-col">{{template "page-body" .}}</div>
{{end}}
