{{ define "stacks/partials/cite" }}

<section class="col-span-12 grid gap-6">
  <div class="grid gap-6 w-full">
    <div class="card bg-base-200 shadow-xs">
      <div class="card-body">
        <h2 class="card-title">Cite</h2>

        <div class="overflow-x-auto">
          <fieldset class="fieldset">
            <label class="label">APA</label>

            <textarea class="textarea w-full resize-none" rows="3" readonly>{{ . }}</textarea>

            <button
              type="button"
              class="btn"
              onclick="navigator.clipboard.writeText(this.previousElementSibling.value)"
            >
              Copy
            </button>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
