{{ define "stacks/partials/cite" }}

<section class="col-span-12 grid gap-6">
  <div class="grid gap-6 w-full">
    <div class="card bg-base-200 shadow-xs">
      <div class="card-body">
        <h2 class="card-title">Cite</h2>

        <div class="overflow-x-auto">
          {{ range .Citations }}
          <fieldset class="fieldset">
            <label class="label">{{ .Style }}</label>

            <div class="flex items-center gap-3">
              <textarea class="textarea min-w-0 flex-1 resize-none" rows="3" readonly>{{ .Citation }}</textarea>

              <button
                type="button"
                class="btn shrink-0"
                onclick="navigator.clipboard.writeText(this.previousElementSibling.value)"
              >
                Copy
              </button>
            </div>
          </fieldset>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
