{{ define "stacks/partials/stacks-list" }} {{ if eq .Total 0 }}

<p class="text-sm opacity-60">No stacks found</p>

{{ else }}

<p>{{ .Total }} stacks found</p>

<ul class="space-y-4 mt-4">
  {{ range .Items }}
  <li class="list-row flex hover:bg-base-200">
    <div class="grow space-y-1">
      <a class="font-bold hover:underline"> {{ .Name }} </a>

      <p class="text-sm">Collection of papers by {{ .Owner.Email }}</p>

      <p class="text-xs font-semibold">
        contains {{ len .Papers }} papers and is {{ if .IsPublic }} public {{
        else }} private {{ end }}
      </p>

      <p class="text-xs">last update: {{ .CreatedAt.Format "Jan 02, 2006" }}</p>
    </div>

    <div class="flex items-center gap-2 pt-10 text-base-content/60">
      <button
        class="btn btn-square btn-ghost btn-sm"
        onclick="alert('Not implemented yet!')"
      >
        <svg
          class="size-5"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <g
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="2"
            fill="none"
            stroke="currentColor"
          >
            <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path>
          </g>
        </svg>
      </button>

      <button
        class="btn btn-square btn-ghost btn-sm"
        onclick="alert('Not implemented yet!')"
      >
        <svg
          class="size-5"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <g
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="2"
            fill="none"
            stroke="currentColor"
          >
            <circle cx="12" cy="12" r="1"></circle>
            <circle cx="12" cy="5" r="1"></circle>
            <circle cx="12" cy="19" r="1"></circle>
          </g>
        </svg>
      </button>
    </div>
  </li>
  {{ end }}
</ul>
<form class="mt-6">
  <input type="hidden" name="search" value="{{ .SearchOptions.Query }}" />
  <div class="flex join justify-center">
    <button
      class="join-item btn  {{ if lt .Page 2 }} btn-disabled {{end}}"
      hx-post="/app/stacks/search"
      hx-include="closest form"
      hx-vals='{"page": {{ .PrevPage }}}'
      hx-target="#stack-results"
    >
      «
    </button>
    {{ range .Pagination }}
    <button
      type="button"
      class="join-item btn {{if .IsActive}}btn-active{{ end }} {{if .IsSeperator}}btn-disabled{{ end }} "
      hx-post="/app/stacks/search"
      hx-include="closest form"
      hx-vals='{"page": {{ .TargetPage }}}'
      hx-target="#stack-results"
    >
      {{ if .IsSeperator }} ... {{ else }} {{ .TargetPage }} {{ end }}
    </button>

    {{ end }}
    <button
      class="join-item btn {{if not .HasNext }} btn-disabled {{end}}"
      hx-post="/app/stacks/search"
      hx-include="closest form"
      hx-vals='{"page": {{ .NextPage }}}'
      hx-target="#stack-results"
    >
      »
    </button>
  </div>
</form>

{{ end }} {{ end }}
