{{ define "stacks/partials/stacks-list" }} {{ if eq .Total 0 }}

<p class="text-sm opacity-60">No stacks found</p>

{{ else }}

<p>{{ .Total }} stacks found</p>

<ul class="list">
  {{ range .Items }}
  <li class="list-row flex">
    <div class="grow">
      <a class="link link-info font-bold"> {{ .Name }} </a>

      <div class="flex flex-row">
        <div class="text-xs uppercase font-semibold opacity-60 grow">
          {{ len .Papers }} papers {{ if .IsPublic }} · Public {{ else }} · Private {{ end }}
        </div>

        <div class="text-xs font-bold flex-none">{{ .CreatedAt.Format "2006-01-02" }}</div>
      </div>

      <div class="text-sm opacity-70">Owner: {{ .Owner.Email }}</div>
    </div>

    <div class="flex-none">
      <button class="btn btn-square btn-ghost" onclick="alert('Not implemented yet!')">
        <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor">
            <path
              d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"
            ></path>
          </g>
        </svg>
      </button>
    </div>
  </li>
  {{ end }}
</ul>

{{ end }} {{ end }}
