{{ define "stacks/partials/stats-my" }}
<div class="stat">
  <div class="stat-figure">
    <svg data-src="https://unpkg.com/heroicons/24/outline/rectangle-stack.svg" class="size-7 opacity-40"></svg>
  </div>
  <div class="stat-title">Stacks</div>
  <div class="stat-value text-xl font-semibold tabular-nums">{{ .TotalStacks }}</div>
  <div class="stat-desc">{{ .PublicStacks }} public</div>
</div>

<div class="stat">
  <div class="stat-figure">
    <svg data-src="https://unpkg.com/heroicons/24/outline/document.svg" class="size-7 opacity-40"></svg>
  </div>
  <div class="stat-title">Papers</div>
  <div class="stat-value text-xl font-semibold tabular-nums">{{ .TotalPapers }}</div>
  <div class="stat-desc">Across all stacks</div>
</div>
{{ end }}
