{{ define "shared/partials/sidebar/stacks-list" }}
<li class="menu-title">
  <span>Stacks</span>
</li>

<li>
  <form novalidate hx-post="/app/stacks/sidebar/create" hx-target="#toast-host" hx-swap="innerHTML">
    <fieldset class="fieldset">
      <div class="join">
        <input type="text" name="name" class="input input-sm join-item" placeholder="new stack" />
        <button type="submit" class="btn btn-sm join-item">Create</button>
      </div>
    </fieldset>
  </form>
</li>
{{ $page := .PageName }} {{ range .Items}}
<li>
  <a
    hx-get="/app/stacks/detail/{{ .UUID }}"
    hx-target="#page-shell"
    hx-select-oob="#sidebar:outerHTML"
    hx-swap="outerHTML"
    hx-push-url="true"
    class="justify-between {{ if eq $page (printf `stacks/detail/%s` .UUID) }}menu-active{{ end }}"
  >
    <span>{{ .Name }}</span>
    <span class="badge badge-xs">{{ len .Papers }}</span>
  </a>
</li>
{{ end }} {{ end }}
