{{ define "shared/partials/sidebar-stacks-list" }}
<span class="font-light">Stacks</span>

{{ $page := .PageName }}

{{ range .Items}}
<li
  href="/app/stacks/detail/{{ .UUID }}"
  hx-get="/app/stacks/detail/{{ .UUID }}"
  hx-target="#page-shell"
  hx-select="#page-shell"
  hx-select-oob="#sidebar-menu:outerHTML"
  hx-swap="outerHTML"
  hx-push-url="true"
  {{ if eq $page (printf "stacks/detail/%s" .UUID) }}class="menu-active"{{ end }}
>
  <summary>
    <a>{{ .Name }}</a>
    <span class="badge badge-xs">{{ len .Papers }}</span>
  </summary>
</li>
{{ end }} {{ end }}
