{{ define "papers/partials/papers-list" }} {{ if eq .Total 0 }}
<p class="text-sm opacity-60">No papers found</p>
{{ else }}
<p>{{ .Total }} papers found</p>

<ul class="list">
  {{ range .Items }}
  <li class="list-row flex">
    <div class="grow">
      <a class="link link-info font-bold">{{ .Title }}</a>
      <div class="flex flex-row">
        <div class="text-xs uppercase font-semibold opacity-60 grow">
          {{ range .Authors }} {{ .FullName }}; {{ end }}
        </div>
        <div class="text-xs font-bold flex-none">{{ .PublicationYear }}</div>
      </div>
      <div>{{ .Metadata.PublishedIn }}</div>
    </div>

    <div class="flex-none">
      <button class="btn btn-square btn-ghost" onClick="alert('Not implemented yet!')">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          class="size-[1.2em]"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m2.25 0H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z"
          />
        </svg>
      </button>

      <button class="btn btn-square btn-ghost" onClick="alert('Not implemented yet!')">
        <svg class="size-[1.2em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor">
            <path
              d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"
            ></path>
          </g>
        </svg>
      </button>
    </div>
  </li>
  {{ end }}
</ul>
<form class="mt-6">
  <input type="hidden" name="search" value="{{ .SearchOptions.Query }}" />
  <input
    type="hidden"
    name="sortBy"
    value="{{ if .SearchOptions.Desc }}-{{ else }}+{{ end }}{{ .SearchOptions.SortBy }}"
  />

  <div class="flex join justify-center">
    <button
      class="join-item btn  {{ if lt .Page 2 }} btn-disabled {{end}}"
      hx-post="/app/papers/search"
      hx-include="closest form"
      hx-vals='{"page": {{ .PrevPage }}}'
      hx-target="#search-results"
    >
      «
    </button>
    {{ range .Pagination }}
    <button
      type="button"
      class="join-item btn {{if .IsActive}}btn-active{{ end }} {{if .IsSeperator}}btn-disabled{{ end }} "
      hx-post="/app/papers/search"
      hx-include="closest form"
      hx-vals='{"page": {{ .TargetPage }}}'
      hx-target="#search-results"
    >
      {{ if .IsSeperator }} ... {{ else }} {{ .TargetPage }} {{ end }}
    </button>

    {{ end }}
    <button
      class="join-item btn {{if not .HasNext }} btn-disabled {{end}}"
      hx-post="/app/papers/search"
      hx-include="closest form"
      hx-vals='{"page": {{ .NextPage }}}'
      hx-target="#search-results"
    >
      »
    </button>
  </div>
</form>

{{ end }} {{ end }}
