{{ define "settings/page" }}

<header class="col-span-12 flex flex-col gap-4 lg:flex-row lg:items-end">
  <div class="grow">
    <div class="breadcrumbs text-xl">
      <ul>
        <li>Settings</li>
      </ul>
    </div>
  </div>
</header>

<section class="card bg-base-200 col-span-12 shadow-xs xl:col-span-7">
  <div class="card-body pb-0">
    <div class="flex flex-col gap-2">
      <div class="grow">
        <h2 class="card-title">App settings</h2>
        <p class="text-base-content/60">Application specific settings</p>
      </div>
    </div>
  </div>
  <div class="px-6 pt-4 pb-6">No application specific setting yet.</div>
</section>

<section class="card bg-base-200 col-span-12 shadow-xs xl:col-span-7">
  <div class="card-body">
    <div class="flex flex-col gap-2 lg:flex-row lg:items-center">
      <div class="grow">
        <h2 class="card-title">User settings</h2>
      </div>
      <div class="flex flex-wrap gap-2">
        <button class="btn btn-sm">
          <svg data-src="https://unpkg.com/heroicons/20/solid/arrow-path.svg" class="size-4"></svg>
          Reset
        </button>
        <button class="btn btn-sm btn-primary">
          <svg data-src="https://unpkg.com/heroicons/20/solid/check.svg" class="size-4"></svg>
          Save settings
        </button>
      </div>
    </div>

    <div class="grid gap-4 grid-cols-2">
      <fieldset class="fieldset">
        <label class="label">ORCID</label>
        <input class="input w-full" value="" placeholder="0000-0000-0000-0000" aria-label="orcid" />
      </fieldset>
    </div>
  </div>
</section>

<section class="card bg-base-200 col-span-12 shadow-xs xl:col-span-7">
  <div class="card-body pb-0">
    <div class="flex flex-col gap-2">
      <div class="grow">
        <h2 class="card-title">User Account</h2>
        <p class="text-base-content/60">User acount specific settings that are managed through hanko.io</p>
      </div>
    </div>
  </div>
  <div class="px-6 pt-4 pb-6">
    <hanko-profile />
    <script type="module">
      const { hanko } = await window.hanko
    </script>
  </div>
</section>

{{ end }}
