{{ define "settings/page" }}

<header class="col-span-12 flex flex-col gap-4 lg:flex-row lg:items-end">
  <div class="grow">
    <div class="breadcrumbs text-xl">
      <ul>
        <li>Settings</li>
      </ul>
    </div>
  </div>
</header>

<section class="card bg-base-200 col-span-12 shadow-xs xl:col-span-7">
  <div class="card-body pb-0">
    <div class="flex flex-col gap-2">
      <div class="grow">
        <h2 class="card-title">App settings</h2>
        <p class="text-base-content/60">Application specific settings</p>
      </div>
    </div>
  </div>
  <div class="px-6 pt-4 pb-6">No application specific setting yet.</div>
</section>

{{ template "settings/partials/user" . }}

<section class="card bg-base-200 col-span-12 shadow-xs xl:col-span-7">
  <div class="card-body pb-0">
    <div class="flex flex-col gap-2">
      <div class="grow">
        <h2 class="card-title">User Account</h2>
        <p class="text-base-content/60">User acount specific settings that are managed through hanko.io</p>
      </div>
    </div>
  </div>
  <div class="px-6 pt-4 pb-6">
    <hanko-profile />
    <script type="module">
      const { hanko } = await window.hanko
    </script>
  </div>
</section>

{{ end }}
